wheel
bootstrap-flask
Flask
sqlalchemy
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
gensim
joblib
PyJWT
python-dotenv
sqlalchemy-utils
user-agents
Werkzeug
WTForms
email_validator
pandas
mysql-connector-python
mysqlclient
feedparser
newspaper3k