{% extends "multilingual/base.html" %}
{% block app_content %}

<div class="col-md-12">

<div class="container">

    <h1>{{_('Contact us!')}}</h1>

        <form action="{{url_for("multilingual.contact}}" method="post">
              {{ form.hidden_tag() }}
              <p>
        	{{form.email.label }} <br>
        	{{ form.email(rows = '1', cols = '50') }} <br>
        	{{_('If you want that we contact you, you have to enter an address. If you only want to leave a reaction, feel free to leave the address field empty.')}}
              </p>
              <p>
                {{ form.lead.label }}<br>
                {{ form.lead(rows = '2', cols = '50') }}
              </p>
              <p>
              {{ form.message.label }}<br>
              {{ form.message(rows='10',cols='50') }}
            </p>
            <button class = "btn btn-info" type="submit">
              {{_('Submit')}}
            </button>
        </form>

    </div>

</div>

{% endblock %}
