{% extends "multilingual/base.html" %}
{% block app_content %}

<div class="col-md-12">

<div class="container">

    <h1>{{_('Frequently asked questions')}}</h1>

    <p><b>{{_('When am I finsished with the experiment?')}}</b><br>
        {{_('You can always have a look at your ')}} <a href={{url_for('multilingual.profile')}}>{{_('profile page')}}</a> {{_('to see how many points you already have and how many you still need.')}}</p>

    {{_('FAQ CONTENT')}}

    
    </div>

</div>

{% endblock %}
