{% extends "base.html" %}
{% block app_content %}

<div class="col-md-12">

<div class="container">

    <h1>FAQ</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel interdum odio. In hendrerit auctor nisl sit amet tristique. Nam lorem odio, posuere ac tincidunt vehicula, molestie nec ante. Maecenas eget quam ligula. Phasellus massa massa, consectetur eget molestie vel, vulputate ut mi. Duis lacinia sagittis dui. Duis aliquam tellus sit amet mi vehicula, sed iaculis velit mollis. Aliquam in viverra metus, vel accumsan elit. Vivamus vitae tortor ut tellus faucibus interdum in vel metus. Donec consequat in massa at egestas. Mauris lacinia arcu tincidunt tortor placerat, sed euismod lorem lobortis. Proin id dolor et neque interdum facilisis. Nunc sagittis egestas ante, id cursus ex. Maecenas sit amet libero ut eros luctus suscipit. Vestibulum dignissim tincidunt ullamcorper.</p>

    <p>Nulla congue, lectus non fermentum viverra, mi odio consequat augue, at tincidunt risus leo sed leo. Nulla a magna elementum, blandit eros vel, mattis orci. Nunc volutpat aliquet ex, sed ultrices erat varius eget. Etiam ultricies, enim in efficitur cursus, enim elit ultricies erat, non consectetur orci turpis sit amet orci. Duis cursus est erat, vel aliquet ex facilisis in. Morbi arcu ex, efficitur in tellus at, porta egestas massa. Integer vel tincidunt diam. Vestibulum maximus enim non sem lacinia porttitor. Praesent aliquet ipsum nec pretium finibus. In ut enim suscipit, tristique purus ut, elementum lectus. Donec finibus pharetra dolor at tempus.</p>

    <p>Pellentesque consectetur, urna ac accumsan euismod, diam tortor placerat sapien, id placerat lectus ante non tellus. In lobortis arcu mollis, vulputate turpis at, tristique odio. Vestibulum pharetra sed felis a pulvinar. Suspendisse placerat porta congue. Nulla consectetur lobortis lacus viverra ultricies. Donec faucibus maximus mi, semper posuere velit ultricies at. Curabitur et risus facilisis, auctor metus vel, ultrices purus. Duis porttitor semper est vitae sodales.</p>

    <p>Donec dapibus porta risus, non elementum nulla pellentesque eget. Nunc in porttitor sapien. Aenean eu pharetra mauris. Donec suscipit maximus ornare. Morbi finibus malesuada tellus, nec congue nisi vehicula eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Nulla sed tellus vitae ex ultrices placerat lacinia at massa. In a nisl sem. Mauris consectetur vehicula vehicula. Proin at varius libero. Ut pharetra in est nec egestas.</p>

    </div>

</div>

{% endblock %}
