{% extends "multilingual/base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="col-md-12">

{% block app_content %}
    <h1>{{_('Register')}}</h1>
    <div class = "row">
        <div class="col-md-4">
            <form action="" method = "POST">
            {{ render_form(form) }}
            </form>
        </div>
    </div>
<p></p>
<p><b>{{_('Attention! We have send you an email with a link to activate your account (check your spam folder!).
    Your mail address is important, so that you can reset your password in case you forgot it. 
    We will also send you reminders if you are have been too inactive to finish the study.')}}</p>

</div>

{% endblock %}
