{% extends "multilingual/base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="col-md-12">
{% block app_content %}
    <h1>{{_('Register')}}</h1>

    <h2>Test een prototype van een nieuwssite!</h2>

<p>Heb je de <a href={{ url_for('multilingual.consent', pid=pid, cid=cid) }}>de uitleg</a> goed gelezen en wil je een account aanmaken?</p>



    <div class = "row">
        <div class="col-md-4">
            <form action="" method = "POST">
            {{ render_form(form) }}
            <a href=https://www.panelclix.com/nl/research/screenout.html?pid={{pid}}&cid={{cid}}><button name="report_article" type="button" class="btn btn-danger" style = "font-size: 85%; float: right; position:relative; top:-2.5em" onclick="submitFormOkay = true;"><i class="fa fa-exclamation-circle"></i> {{_("I prefer not to participate")}}</button></a><br>&nbsp;<br>

            </form>

            <!--
<button  class="button btn-link btn-sm"><a href='SCREENOUT'>{{_('I prefer not to participate')}}</a></button>
-->


        </div>            
    </div>    
<p></p>
<p><b>{{_('Attention! We will send you an email with a link to activate your account (check your spam folder!).
    Your mail address is important, so that you can reset your password in case you forgot it. 
    We will also send you reminders if you are have been too inactive to finish the study.')}}</p>

</div>

{% endblock %}
