{% extends "multilingual/base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="col-md-12">
{% block app_content %}
    <h1>{{_('Register')}}</h1>

    <h2>Test een prototype van een nieuwssite!</h2>

<p>Wij willen graag weten welke artikelen op een nieuwssite gebruikers het meest willen lezen of delen. Je maakt een profiel aan op onze website, en gebruikt deze gedurende zeven dagen voor enkele minuten per dag - net zoals je een website zoals nu.nl zou checken om op de hoogte te blijven van het nieuws. In ruil hiervoor ontvang je een bol.com voucher van 10 euro.</p> 

<p>De details:</p>
<ul>
<li>Je moet een gebruikersprofiel aanmaken op onze site. Hiervoor is een geldig e-mail-adres nodig, zodat we je een bevestigingslink en ook jouw beloning kunnen sturen.</li> 
<li>Je moet <b>binnen 14 dagen op op z'n minst 7 verschillende dagen</b> inloggen. Maar je mag zo vaak als je wilt inloggen.</li>
<li>Gebruik de site, net zoals je een normale nieuwssite zou gebruiken. Voor het lezen van een artikel, maar ook per login, voor het delen, of voor het (vrijwillige) geven van feedback, krijg je een punt. <b>Als je bij elk bezoek zo'n 10 artikelen leest, heb je al voldoende punten.</b> Je kunt altijd via &quot;Mijn Profiel&quot; opzoeken hoe ver je bent.</li>
<li>Je ontvangt een berichtje op ons platform zodra je het onderzoek af kunt ronden. Hiervoor moet je tien korte vragen beantwoorden.</li>
<li>Binnen twee weken naar afloop van het experiment sturen we je een bol.com voucher voor 10 euro.</li>
</ul>

    <div class = "row">
        <div class="col-md-4">
            <form action="" method = "POST">
            {{ render_form(form) }}
            <a href=https://www.panelclix.com/nl/research/screenout.html?pid={{pid}}&cid={{cid}}><button name="report_article" type="button" class="btn btn-danger" style = "font-size: 85%; float: right; position:relative; top:-2.5em" onclick="submitFormOkay = true;"><i class="fa fa-exclamation-circle"></i> {{_("I prefer not to participate")}}</button></a><br>&nbsp;<br>

            </form>

            <!--
<button  class="button btn-link btn-sm"><a href='SCREENOUT'>{{_('I prefer not to participate')}}</a></button>
-->


        </div>            
    </div>    
<p></p>
<p><b>{{_('Attention! We will send you an email with a link to activate your account (check your spam folder!).
    Your mail address is important, so that you can reset your password in case you forgot it. 
    We will also send you reminders if you are have been too inactive to finish the study.')}}</p>

</div>

{% endblock %}
